.check-password__container {
    padding: 40px;
    width: 40%;
    max-width: 768px;
    min-width: 400px;
    margin: 0 auto;
}

.check-password__title {
    font-size: 22px;
    font-weight: bold;
    margin-left: -120px;
    margin-bottom: 80px;
}

.check-password__subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 3px;
}

.check-password__description {
    font-size: 14px;
    color: #8C8C8C;
    margin-bottom: 50px;
}

.password-input-container {
    position: relative;
    width: 100%;
}

.password-input {
    width: 100%;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    padding: 15px;
    padding-right: 40px; /* 오른쪽 아이콘 공간 확보 */
    outline: none;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #8C8C8C;
    font-size: 18px;
}

.check-password__error {
    color: red;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 50px;
}

.check-password__button {
    width: 100%;
    border-radius: 6px;
    background-color: #F5F7FA;
    color: #A0A0A0; /* 비활성화 상태의 글자색 */
    border: none;
    padding: 16px;
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: not-allowed;
    transition: background-color 0.3s;
}

.check-password__button.active {
    background-color: #5D91FE;
    color: white;
    cursor: pointer;
}

