.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.loading-title {
    color: #5D91FE;
    margin-bottom: 20px;
}

.loading-subtitle {
    color: #333333;
    font-size: 14px;
    margin-top: 10px;
}

.loading-complete-image {
    width: 100px; 
    height: auto;
    margin-bottom: 20px;
}

.home-button {
    background-color: #5D91FE;
    color: white;
    padding: 15px 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}


.home-button:hover {
    background-color: #4A7FCC;
}
