.wrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 10px;
    min-width: 768px;
}

.login {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.login-img {
    background-color: #D9D9D9;
}

.login-img, .login-page {
    display: flex;
}

/*태블릿 화면*/
@media (max-width: 767px) {
    .wrap {
        min-height: 1024px;
    }

    .login {
        flex-direction: column;
    }

    .login-img {
        height: 40%;
    }
    .login-page {
        height: 60%;
    }

    .login-container {
        top: 22%;
        height: 522px;
    }

    .login-subtitle {
        margin-bottom: 88px;
    }
}

/*pc 화면*/
@media (min-width: 768px) {
    .login {
        flex-direction: row;
    }

    .login-img, .login-page {
        flex: 1;
        height: 100%;
    }

    .login-container {
        top: 50%;
        height: 480px;
    }

    .login-subtitle {
        margin-bottom: 46px;
    }
}

.login-container {
    position: relative;
    width: 382px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-title {
    font-size: 3.2em;
}

.login-subtitle {
    font-size: 1.6em;
    color: #767676;
}

.login-content {
    width: 100%;
    height: 108px;
    position: relative;
}

.login-content-name {
    font-size: 1.6em;
    color: #767676;
    margin-bottom: 8px;
}

.login-content-input {
    font-size: 1.6em;
    width: 100%;
    height: 56px;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    padding-left: 16px;
    margin-bottom: 5px;
    outline: none;
    box-sizing: border-box;
}

.login-content-input[type=text]:focus,
.login-content-input[type=password]:focus {
    border-color: #699BF7;
}

.login-content-eye {
    position: absolute;
    bottom: 40px;
    right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 24px;
}

.login-content-warn {
    font-size: 1.2em;
    color: #EA1215;
}

.login-submit {
    margin: auto;
    margin-top: 64px;
    font-size: 1.6em;
    text-align: center;
    border-radius: 8px;
    background-color: #5D91FE;
    color: #F5F7FA;
    width: 100%;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
}

/* .login-submit:hover {
    box-shadow: 0 0 3px #5D91FE;
    transition: all 0.2s;
} */

.login-signup {
    margin: auto;
    margin-top: 24px;
    font-size: 1.6em;
    text-align: center;
    color: #B1B1B1;
}

.login-signup a {
    margin-left: 12px;
    text-decoration: underline;
    color: #333333;
}