.summary__wrap {
    width: 336px;
    height: 272px;
    border-radius: 8px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    position: relative;
    overflow: hidden;
}

.summary__wrap:hover::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.03); 
    z-index: 1; 
}
