.summarize2-container {
    width: 800px;
    margin: auto;
}

.summarize2-box {
    background-color: #fff;
    border: 2px solid #bfd4ff;
    border-radius: 8px;
    padding: 15px;
    width: 800px;
    height: 659px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.summarize2-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 10px;
}

.summarize2-subtitle {
    text-align: center;
    font-size: 17px;
    color: #989898;
    font-weight: normal;
    margin-bottom: 20px;
}

.summarize2-box-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.summarize2-input-box {
    width: 90%;
    height: 200px;
    padding: 10px;
    border: 1px solid #B8B8B8;
    border-radius: 4px;
    font-size: 14px;
    color: #333333;
    background: transparent;
    outline: none;
    resize: none;
    margin-left: 20px;
}

.summarize2-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.summarize2-submit-button {
    background-color: #5D91FE;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.summarize2-submit-button:hover {
    background-color: #4A7ED6;
}
